<header>
  <mat-toolbar>
    <button mat-icon-button class="example-icon" (click)="toggleDrawer()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="main-header">Transparent Politics</span>
      <span class="toolbar-spacer"></span>

    <button mat-icon-button class="example-icon favorite-icon" [matMenuTriggerFor]="profileMenu">
      <mat-icon>perm_identity</mat-icon>
    </button>
  </mat-toolbar>

  <mat-menu #profileMenu="matMenu">
    <button mat-menu-item *ngIf="!logged" routerLink="/users/new">Register</button>
    <button mat-menu-item *ngIf="!logged" routerLink="/users/login">Login</button>
    <button mat-menu-item *ngIf="logged" routerLink="/users/profile">Profile</button>
    <button mat-menu-item *ngIf="logged" (click)="logout()">Logout</button>
  </mat-menu>
</header>

<mat-drawer-container class="drawer-container" autosize>
  <mat-drawer #drawer class="drawer-sidenav" mode="side" [opened]="drawerOpened">
    <mat-nav-list> 
      <div *ngIf="logged">
        <a mat-list-item routerLink="/admin" >Admin</a>
      </div>
      <a mat-list-item routerLink="/" routerLinkActive="active">Home</a>
      <a mat-list-item routerLink="/about" routerLinkActive="active">About</a>
      <a mat-list-item routerLink="/communities" routerLinkActive="active">Communities</a>
      <a mat-list-item routerLink="/contact_us" routerLinkActive="active">Contact Us</a>
    </mat-nav-list>
  </mat-drawer>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>