<header>
  <mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon (click)="drawer.toggle()">menu</mat-icon>
    </button>
    <span>Transpo</span>
      <span class="toolbar-spacer"></span>

    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
     <mat-icon>share</mat-icon>
   </button>
  </mat-toolbar>
</header>

<mat-drawer-container class="drawer-container" autosize>
  <mat-drawer #drawer class="drawer-sidenav" mode="side">
    <ul>  
      <li class="navbar-link"><a routerLink="/" routerLinkActive="active">Home</a></li>
      <li class="navbar-link"><a routerLink="/about" routerLinkActive="active">About</a></li>
      <li class="navbar-link"><a routerLink="/communities" routerLinkActive="active">Communities</a></li>
      <li class="navbar-link"><a routerLink="/contact_us" routerLinkActive="active">Contact Us</a></li>
      <li class="navbar-link" *ngIf="!logged"><a routerLink="/users/login" routerLinkActive="active">Login</a></li>
      <li class="navbar-link" *ngIf="logged"><a routerLink="/admin" >Admin</a></li>
      <li class="navbar-link" *ngIf="logged"><a routerLink="/" (click)="logout()">Logout</a></li>
    </ul>
  </mat-drawer>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>