<header>
  <mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon (click)="toggleDrawer()">menu</mat-icon>
    </button>
    <span>Transparent Politics</span>
      <span class="toolbar-spacer"></span>

    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon [matMenuTriggerFor]="profileMenu">perm_identity</mat-icon>
    </button>
  </mat-toolbar>

  <mat-menu #profileMenu="matMenu">
    <button mat-menu-item *ngIf="!logged" routerLink="/users/new">Register</button>
    <button mat-menu-item *ngIf="!logged" routerLink="/users/login">Login</button>
    <button mat-menu-item *ngIf="logged" routerLink="/users/profile">Profile</button>
    <button mat-menu-item *ngIf="logged" (click)="logout()">Logout</button>
  </mat-menu>
</header>

<mat-drawer-container class="drawer-container" autosize>
  <mat-drawer #drawer class="drawer-sidenav" mode="side" [opened]="drawerOpened">
    <ul>  
      <li class="navbar-link" *ngIf="logged"><a routerLink="/admin" >Admin</a></li>
      <li class="navbar-link"><a routerLink="/" routerLinkActive="active">Home</a></li>
      <li class="navbar-link"><a routerLink="/about" routerLinkActive="active">About</a></li>
      <li class="navbar-link"><a routerLink="/communities" routerLinkActive="active">Communities</a></li>
      <li class="navbar-link"><a routerLink="/contact_us" routerLinkActive="active">Contact Us</a></li>
    </ul>
  </mat-drawer>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>