<h2>My communities</h2>
<div class="admin-communities-container">
	<div *ngIf="!communities">
		Please create one or ask an admin of another community to invite you.
		<br/>
		<button
		    mat-raised-button
		    color="{{!toggleCreateCommunity ? 'primary' : 'warn'}}"
		    (click)="toggleCreateCommunityForm()">
		    {{!toggleCreateCommunity ? "Create Community" : "Cancel"}}
		  </button>
		<app-create-community *ngIf="toggleCreateCommunity"></app-create-community>
	</div>
	<div *ngIf="communities">
		<app-line-item *ngFor="let community of communities" [community]="community"></app-line-item>
	</div>
</div>