<h4>Login</h4>
<div class='flex flex-column'>
  <mat-form-field class="example-form-field" appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput type="text" name="email" [(ngModel)]="email">
    <button *ngIf="email" matSuffix mat-icon-button aria-label="Clear" (click)="email=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <br/>
  <mat-form-field class="example-form-field" appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput type="password" name="password" [(ngModel)]="password">
    <button *ngIf="password" matSuffix mat-icon-button aria-label="Clear" (click)="password=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>
<div class='flex mt3'>
  <button
    mat-raised-button
    color="primary"
    (click)="confirm()">
    Login
  </button>
  or 
  <a mat-raised-button color="accent" routerLink="/users/new">Register</a>
</div>