<h4>Register</h4>
<div class='flex flex-column'>
  <mat-form-field class="example-form-field" appearance="fill">
    <mat-label>Your Name</mat-label>
    <input matInput type="text" name="name" [(ngModel)]="name">
    <button *ngIf="name" matSuffix mat-icon-button aria-label="Clear" (click)="name=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <br/>
  <mat-form-field class="example-form-field" appearance="fill">
    <mat-label>Your Email</mat-label>
    <input matInput type="text" name="email" [(ngModel)]="email">
    <button *ngIf="email" matSuffix mat-icon-button aria-label="Clear" (click)="email=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <br/>
  <mat-form-field class="example-form-field" appearance="fill">
    <mat-label>Your Password</mat-label>
    <input matInput type="password" name="password" [(ngModel)]="password">
    <button *ngIf="password" matSuffix mat-icon-button aria-label="Clear" (click)="password=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>
<div class='flex mt3'>
  <button
    mat-raised-button
    class='new-user-button'
    (click)="register()">
    Register
  </button>
</div>